<!--footer section-->
<footer id="footer" class="py-2">
    <div class="container">
        <!-- section title-->
        <div class="row">
            <div class="col text-center">
                <h4 class="display-5 text-white mb-0"><strong> &copy; Enstaze</strong></h4>
                <div class="title-underline bg-primary"></div>
                <p class="mt-2 text-capitalize text-white">Connecting people and idea through events</p>

            </div>
        </div>
        <!-- end of section title-->
        <div class="row text-center">
            <div class="col">
                <a href="https://www.facebook.com" target="_blank" class="btn">
                    <i class="fa fa-facebook fa-2x text-primary mx-2"></i>
                </a>
                <a href="#" target="_blank" class="btn">
                    <i class="fa fa-twitter fa-2x text-primary mx-2"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-instagram fa-2x text-primary mx-2"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-google-plus fa-2x text-primary mx-2"></i>
                </a>

            </div>
        </div>

    </div>
</footer>


<!--footer section end-->