#footer{
    background-color: rgb(78, 77, 77);
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: auto;
    width: 100%;
    position: relative;
}

html,body{
    font-family: 'Barlow Condensed', sans-serif;
}