html, body { max-width: 100% !important; overflow-x: hidden !important; }

.nav-link{
    
    font-family: 'Barlow Condensed', sans-serif;
    color: black !important;
}
.navbarclass{
    background-color: rgb(207, 201, 201);
    max-height: 80vh !important;  
    
}
.logoImage{
    width: 130px !important;
}

.nav-link:hover{
    background-color: rgb(211, 209, 207);
    transform: scale(1.1);
}

.search-button{
    width: 300px !important;
}
.navbarmenu{
    min-width: 0.3rem !important;
}
 
a{
    cursor: pointer;
}

@media(min-width:768px){
    .search-button{
        width: 20vw !important;
    }
    .nav-link{
        font-size: 20px !important;
    }
}
@media(max-width:576px){
    .logoImage{
        width: 100px !important;
    }
}