<nav class="navbar navbar-expand-lg navbar-light navbarclass sticky-top font-weight-bolder text-black">
    <a href="#" class="navbar-brand mt-1"> <img class="img-fluid logoImage" src="../../assets/enstazeLogo.png"></a>

    <div class="input-group my-2 search-button mr-auto d-none d-sm-inline-flex">
        <input type="text" class="form-control" id="search-event" placeholder="search">
        <div class="input-group-append">
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>

    </div>

    <div ngbDropdown class="account mr-5">
        <a class="ml-0 ml-auto" id="dropdownlarge" ngbDropdownToggle><i class="fa fa-user"></i>
                <span *ngIf="!isAuth">Account</span>
                <span *ngIf="isAuth">{{username }}</span></a>
        <div class="dropdown-menu navbarmenu" ngbDropdownMenu aria-labelledby="dropdownlarge">
            <a *ngIf="isAuth" (click)="collapse();" routerLink="/profile" class="dropdown-item">Profile</a>
            <a *ngIf="isAuth" (click)="collapse();" routerLink="/organize" class="dropdown-item"> Organize</a>
            <a *ngIf="!isAuth" (click)="collapse();" routerLink="/login" class="dropdown-item">Login</a>
            <a *ngIf="!isAuth" (click)="collapse();" routerLink="/signup" class="dropdown-item">Register</a>
            <a *ngIf="isAuth" (click)="collapse(); logout()" class="dropdown-item">Logout</a>
            <a (click)="collapse()" class="dropdown-item" [routerLink]="['/blog']">Blog</a>
            <a (click)="collapse()" class="dropdown-item" [routerLink]="['/about']">About us</a>

        </div>
    </div>


</nav>
<div class="input-group my-0 search-button-mobile mr-auto d-xs-block d-sm-none">
    <input type="text" class="form-control" id="search-event" placeholder="Search Events">
    <div class="input-group-append">
        <button type="button" class="btn btn-primary" style="border-radius: 0%;"><i class="fa fa-search"></i></button>
    </div>

</div>