<div class="allEventBg">
    <div class="row all-event-bar justify-content-center text-primary  align-items-end">
        <div class="col d-flex justify-content-center mt-4">
            <p style="font-weight: bold;">All Events &nbsp;&nbsp;&nbsp;&nbsp;
                Filter<span class="fas fa-filter"> </span>

                &nbsp;&nbsp;&nbsp;&nbsp;
                Sort by: 
                <select id="sortOption">
                        <option value="date">date</option>
                        <option value="trending">trending</option>
                      </select> &nbsp;<span class="fas fa-arrow-up"> </span><span class="fas fa-arrow-down"> </span>
                    </p>
        </div>
     

    </div>
    <div class="row justify-content-center" style="margin-right: 0%; margin-left: 0%;" *ngFor="let event of allEvents">
        
            
            <div class="row mt-1 my-0 allEventList justify-content-center align-items-center">
                <div class="allEventImage">
                    <img [src]="event.photo" alt="" class="img-fluid" style='height: auto; width: 100%; object-fit: cover; border-radius: 5px;'>
                </div>
                <div class="allEventDesc pl-3 pt-2">
                    <p class="mt-2"><span style="font-weight: bolder; font-size: 16px;">{{ event.title}}</span><br><br>
                    <span style="color: grey; font-weight: bolder;">{{ event.category }}</span><br><br>
                    {{event.location}}, {{event.startDate | date: 'dd MMM yyyy'}} - {{event.endDate | date: 'dd MMM yyyy'}}<br><br>
                     <span class= "text-danger" style="font-weight: bolder;">{{getOrganizer(event.oid).oname}}</span><br><br>
                    <a href="{{event.url}}" target="_blank">Detail & Tickets...</a></p>
                </div>
            </div>

        
    </div>
    <ul class="row pagination justify-content-center my-2">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
</div>