html,body{
    font-family: 'Barlow Condensed', sans-serif;
}
.row{
    margin-right: 0% !important;
    margin-left: 0% !important;
}

.allEventBg{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: rgb(248, 252, 248);
    margin-right: 0% !important;
    margin-left: 0% !important;
}
.allEventList{
    background-color: rgb(245, 245, 245);
    margin-right: 0 px !important;
    margin-left: 0 px !important;
}
.allEventImage:hover{
    transform: scale(1.1);
}

.allEventImage{
    width: 13vw !important;
   
}
.allEventDesc{
    /* border: 1px solid rgb(233, 227, 227); */
    width: 25vw;
    margin-right: 0% !important;
    margin-left: 0% !important;
    line-height: 0.9;
    font-size: 110% !important;
}
@media(min-width: 768px){
    .all-event-bar{
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }
    .allEventList{
        margin-top: 1% !important;
    }
}

@media(max-width:576px){
    
    .allEventImage{
        width: 35vw !important;
        padding-left: 2vw !important;

    }
    .allEventDesc{
        /* border: 1px solid rgb(233, 227, 227); */
        width: 65vw;
        line-height: 0.7 !important;
        font-size: 90% !important;
        padding-left: 2vw !important;
    }
    /* .allEventList{
        margin-right: 2vw;
        margin-left: 2vw;
      
    } */

}