<section id="loginPage">
        <div class="container p-5">
            <div class="row mt-5">
                <div class="col-lg-4 offset-lg-4">
                   <div class="card bg-light">
                        <div class="card-body">
                            <h4 class="text-center">Login</h4>
                            <hr>
                            <form>
                                <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control" [(ngModel)]="email">
                                </div>
    
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" [(ngModel)]="password">
                            </div>
                            <hr>
                            <button class="btn btn-primary btn-block" (click)="login()" [disabled]="btnDisabled">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
