html,body{
    background-color: black;
    font-family: 'Barlow Condensed', sans-serif;

}
.premiumEvent{
    border: 1px solid black;
    font-family: 'Barlow Condensed', sans-serif;
}

.premium-event-photo{
    width: 100vw !important;
 
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.premium-event{
    
    background-image: linear-gradient(to bottom, rgb(59, 23, 23), black);
   
    content: ''; 
   
}

.carouselFooter{
    width: 100% !important;
    min-height: 10vh;
    background: black;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 16px;
    border: 1px solid black;

   
}

@media(min-width:768px){
    .premium-event-photo{
        height: 70vh !important;
       
        object-fit: cover !important;
    }

}