<!-- <div >
    <div *ngFor="let event of allEvents">
        <div class="premiumEvent" [ngStyle]="{background: 'url('+event.photo+')'}">
                <h1>{{ event.title}} </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, cumque!</p>
        </div>       
    </div>
</div> -->

<div class='premiumEvent d-flex justify-content-center align-items-center'>
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let event of allPremiumEvents">


            <div class="premium-event">
                <img class="premium-event-photo img-fluid" [src]="event.photo" alt="Premium Events"></div>

            <div class="row carouselFooter justify-content-center align-items-center ">
                <div class="col-md-3 d-flex justify-content-center">
                    <h2 style="font-weight: bolder;">{{ event.title }}</h2>

                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <h5 style="font-style: italic;"><span style="color: grey;">{{ event.category }}</span></h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <!-- <h5>{{event.startDate | date: 'dd MMM yyyy h:mm:ss a z'}} - {{event.endDate | date: 'dd MMM yyyy h:mm:ss a z'}}</h5>  -->
                    <h5>{{event.startDate | date: 'dd MMM yyyy'}} to {{event.endDate | date: 'dd MMM yyyy'}}</h5>

                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <a href="{{event.url}}" class="btn btn-outline-warning" target="_blank">Detail & Tickets</a>
                </div>

            </div>


        </ng-template>
    </ngb-carousel>
</div>